---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103pRx2cQjvRqDMdPcgLHyfy&description=cause%20you're%20a%20sucker%20daddy%40daddy.com
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103pRx2cQjvRqDMdEUeSthbH",
          "object": "charge",
          "created": 1397155062,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103pRx2cQjvRqDMdawQz0xJi",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "3G2xcQ0kXYcONRa8",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103pRx2cQjvRqDMdTNqlz4RO",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "cause you're a sucker daddy@daddy.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Thu, 10 Apr 2014 18:37:42 GMT
recorded_with: VCR 2.9.0
