---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103r6J2cQjvRqDMdUvKakUq7&email=daddy%40daddy.com&plan=muvi
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397535819,
          "id": "cus_3r6JqvWf30AIE6",
          "livemode": false,
          "description": null,
          "email": "daddy@daddy.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r6JqvWf30AIE6/subscriptions",
            "data": [
              {
                "id": "sub_3r6Jn51JbYMI0a",
                "plan": {
                  "interval": "month",
                  "name": "gold",
                  "created": 1397485382,
                  "amount": 999,
                  "currency": "usd",
                  "id": "muvi",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1397535819,
                "status": "active",
                "customer": "cus_3r6JqvWf30AIE6",
                "cancel_at_period_end": false,
                "current_period_start": 1397535819,
                "current_period_end": 1400127819,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3r6JqvWf30AIE6/cards",
            "data": [
              {
                "id": "card_103r6J2cQjvRqDMdDUbzcAP6",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 7,
                "exp_year": 2015,
                "fingerprint": "3G2xcQ0kXYcONRa8",
                "customer": "cus_3r6JqvWf30AIE6",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103r6J2cQjvRqDMdDUbzcAP6",
          "subscription": {
            "id": "sub_3r6Jn51JbYMI0a",
            "plan": {
              "interval": "month",
              "name": "gold",
              "created": 1397485382,
              "amount": 999,
              "currency": "usd",
              "id": "muvi",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {},
              "statement_description": null
            },
            "object": "subscription",
            "start": 1397535819,
            "status": "active",
            "customer": "cus_3r6JqvWf30AIE6",
            "cancel_at_period_end": false,
            "current_period_start": 1397535819,
            "current_period_end": 1400127819,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Tue, 15 Apr 2014 04:23:40 GMT
recorded_with: VCR 2.9.0
