---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103pSH2cQjvRqDMdK8Gw3Fwn&description=cause%20you're%20a%20sucker%20daddy%40daddy.com
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103pSH2cQjvRqDMdDQwvdFZB"
          }
        }
  recorded_at: Thu, 10 Apr 2014 18:57:42 GMT
recorded_with: VCR 2.9.0
