---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103r6J2cQjvRqDMdkExA2pNf&email=daddy%40daddy.com&plan=muvi
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 15 Apr 2014 04:23:33 GMT
recorded_with: VCR 2.9.0
