---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103qv02cQjvRqDMdPMSq98Vh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103qv02cQjvRqDMdPMSq98Vh",
          "created": 1397493765,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103qv02cQjvRqDMdwh9vZmWe",
              "object": "charge",
              "created": 1397493765,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103qv02cQjvRqDMdr8SoXsaV",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "3G2xcQ0kXYcONRa8",
                "customer": "cus_3qv0gVXWZz6nfR",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103qv02cQjvRqDMdqWPTDGHT",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3qv0gVXWZz6nfR",
              "invoice": "in_103qv02cQjvRqDMd5YgDbczX",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3qv0OGmwO4Lll3"
        }
  recorded_at: Tue, 15 Apr 2014 04:23:57 GMT
recorded_with: VCR 2.9.0
