---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103pPF2cQjvRqDMdCCkEl7vu",
          "livemode": false,
          "created": 1397145013,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103pPF2cQjvRqDMdatiTPFHO",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "M1zM2pWwfz9SSnkn",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 10 Apr 2014 15:50:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103pPF2cQjvRqDMdCCkEl7vu&description=a%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103pPF2cQjvRqDMdLaIXYyW0"
          }
        }
  recorded_at: Thu, 10 Apr 2014 15:50:13 GMT
recorded_with: VCR 2.9.0
