---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103r372cQjvRqDMdjKkOVUiL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103r372cQjvRqDMdjKkOVUiL",
          "created": 1397523948,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103r372cQjvRqDMdZuNyEYWJ",
              "object": "charge",
              "created": 1397523948,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103r362cQjvRqDMdVu7JCiBj",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "obZLck7qMpB6wAgu",
                "customer": "cus_3r2jpqliREE5D2",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3r2jpqliREE5D2",
              "invoice": null,
              "description": "fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3r37EJ07BZ7Lwe"
        }
  recorded_at: Tue, 15 Apr 2014 04:23:44 GMT
recorded_with: VCR 2.9.0
