---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103qwX2cQjvRqDMdAb7WrYwA",
          "livemode": false,
          "created": 1397499468,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103qwX2cQjvRqDMdSHnnU0NP",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2015,
            "fingerprint": "3G2xcQ0kXYcONRa8",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 14 Apr 2014 18:17:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103qwX2cQjvRqDMdAb7WrYwA&email=vernie.dietrich%40brownharvey.info&plan=muvi
    headers:
      Authorization:
      - Bearer sk_test_qFwxOxnTSxsQmFrk3UUipiBf
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1397499469,
          "id": "cus_3qwXQSMG05mqQf",
          "livemode": false,
          "description": null,
          "email": "vernie.dietrich@brownharvey.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3qwXQSMG05mqQf/subscriptions",
            "data": [
              {
                "id": "sub_3qwXjZvoA12osw",
                "plan": {
                  "interval": "month",
                  "name": "gold",
                  "created": 1397485382,
                  "amount": 999,
                  "currency": "usd",
                  "id": "muvi",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1397499469,
                "status": "active",
                "customer": "cus_3qwXQSMG05mqQf",
                "cancel_at_period_end": false,
                "current_period_start": 1397499469,
                "current_period_end": 1400091469,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ],
            "count": 1
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3qwXQSMG05mqQf/cards",
            "data": [
              {
                "id": "card_103qwX2cQjvRqDMdSHnnU0NP",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "3G2xcQ0kXYcONRa8",
                "customer": "cus_3qwXQSMG05mqQf",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ],
            "count": 1
          },
          "default_card": "card_103qwX2cQjvRqDMdSHnnU0NP",
          "subscription": {
            "id": "sub_3qwXjZvoA12osw",
            "plan": {
              "interval": "month",
              "name": "gold",
              "created": 1397485382,
              "amount": 999,
              "currency": "usd",
              "id": "muvi",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {},
              "statement_description": null
            },
            "object": "subscription",
            "start": 1397499469,
            "status": "active",
            "customer": "cus_3qwXQSMG05mqQf",
            "cancel_at_period_end": false,
            "current_period_start": 1397499469,
            "current_period_end": 1400091469,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Mon, 14 Apr 2014 18:17:50 GMT
recorded_with: VCR 2.9.0
